body {
	font-family: Arial;
}
button {
	font-weight: bold;
	font-size: larger;
	margin: 5px;
}
#content {
	border: solid black 3px;
	padding: .5em;
	margin: 5px;
}
#download-file-name {
	border: solid black 1px;
	padding: .4em;
}
.hidden {
	visibility: hidden;
}
.insert {
	color: white;
	background-color: green;
	padding: .2em;
}
.remove {
	color: white;
	background-color: red;
	padding: .2em;
}
.info {
	font-size: xx-small;
	font-weight: normal;
}
#bottom {
	position: fixed;
	text-align: right;
	bottom: 20px;
	right: 20px;
}
#gitlab > img {
	vertical-align: middle;
	width: 50px;
	height: 50px;
}
.line {
	min-height: 1.25em;
}

::selection {
	background-color: yellow;
	color: black;
}

/* https://stackoverflow.com/questions/6831482/contenteditable-single-line-input */
[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}
